<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app')}}{% endblock %}
        <form  method="post" action="" id="ajax_form">
            <p><strong>Логин:</strong>
                <input maxlength="25" size="40" id="login" name = "login"></p>
            <p><strong>Пароль:</strong>
                <input type="password" maxlength="25" size="40" id="password" name = "password"></p>
            <input type="button" id="btn" value="Войти" />
        </form>
    </body>
</html>
