<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app')}}{% endblock %}
        <form  method="post" action="" id="ajax_form">
            <input type="button" id="btn" value="Вы успешно вошли! Скоро тут(может быть) появится рабочее приложение!" />
        </form>
    </body>
</html>
