<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets  %}
        <link rel="stylesheet" href="/asset/css/css1.css">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('save')}} {% endblock %}
<form  method="post" action="" id="ajax_form">
    <section class="wrapper">
        <section class="pm">
            <div>
    <p><b>Код мероприятия:</b><br>
        <input type="text" size="70">
            </div>
            <div>
    <p><b>Название:</b><br>
        <input type="text" size="70">
    </p>
                </div>
            <div>
    <p><b>Место проведения:</b><br>
        <textarea size="70"></textarea>
    </p>
                </div>
            <div>
    <p><b>Дата и время проведения:</b><br>
        <input type="date">
    </p>
                </div>
            <div>
    <p><b>Преподаватель:</b><br>
        <textarea size="70"></textarea>
    </p>
                </div>
            <div>
    <p><b>Максимальное кол-во участников:</b><br>
        <input type="text" size="30">
    </p>
                </div>
            <div>
    <p><b>Прочая информация:</b><br>
        <textarea size="70"></textarea>
    </p>
                </div>
            <div>
    <p><b>Подразделение(Название):</b><br>
        <select size="3" multiple name="hero[]">
            <option disabled>Выберите мероприятие</option>
            <option value="Чебурашка">Чебурсаня</option>
            <option selected value="Крокодил Гена">Крокодил Коля</option>
            <option value="Шапокляк">Андркляк</option>
            <option value="Крыса Лариса">Крыса Оля</option>
        </select></p>
                </div>
            <div>
    <p><b>Тип мероприятия(Название):</b><br>
        <select size="3" multiple name="hero[]">
            <option disabled>Выберите мероприятие</option>
            <option value="Чебурашка">Чебурашка</option>
            <option selected value="Крокодил Гена">Крокодил Гена</option>
            <option value="Шапокляк">Шапокляк</option>
            <option value="Крыса Лариса">Крыса Лариса</option>
        </select></p>
                </div>
        </section>
        <section class="light">

                <input type="submit" value="Отправить" >


                <input type="button" value="Очистить" id="ex">



        </section>
    </section>
</form>
</body>
</html>